<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZFC1zVuICMn2wiU7e1ELAZhYe1Zxfe4U</string>
	<key>GCM_SENDER_ID</key>
	<string>7631085656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evrywhere</string>
	<key>PROJECT_ID</key>
	<string>evrywhere-85bc5</string>
	<key>STORAGE_BUCKET</key>
	<string>evrywhere-85bc5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7631085656:ios:72158eeea4d0c89ac32a2d</string>
</dict>
</plist>